*{
    padding: 0;
    margin: 0;
}

/* background image section*/
.bg-head{
  padding-top: 225px;
}
.bg-head{
    background-image: url(image/h_img.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-head img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bg-head p{
    text-align: center;
    color: aliceblue;
}
.bg-head h1{
    text-align: center;
    color: aliceblue;
    padding: 10px;
}
#mouse-click{
  padding-top : 22px;
  margin-top: 10%;
  padding-bottom: 30px; 
}
#mouse-click {
  animation: bounce 2s infinite;
}

/* about us  */
.aboutus h3{
    font-size: 3rem;
    text-align: center;
    color: black;
    padding: 10px;
}
.aboutus p{
    text-align: center;
    color: black;
    padding: 10px;
}
.raised-block {
  background-color: #fff;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: -0.625rem; 
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

/* servicess */
.services {
    background-image: url(image/s_image.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}
.services h3{
    font-size: 3rem;
    text-align: center;
    color: #fff;
    padding: 10px;
    padding-top: 8rem;
}
.services p{
    text-align: center;
    color: #fff;
    padding: 10px;
}
.col-sm-3{
    transform: scale(0.69);
}
#portfolio{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left:18%;
  margin-right: 16%; 
}
.col-md-3 img{
  max-width: 100%;
  max-height: 100%;
}
.portfolio h2{
  text-align: center;
  padding-top:40px;
  font-family: 'Gabriela', serif;
}


/* whatwedo */
.what-we-do{
  text-align: center;
  padding-top: 40px;
}
.what-we-do .headings{
  padding-bottom: 38px;
}

/* .contactus */
.contactus{
    background-image: url(image/c_image.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    
}
.contactus h3{
    color: #fff;
}
.contactus{
    margin:0;
    padding:0;
    box-sizing:border-box;
    outline:none;
    border:0;
  }
  .wrap {
    width:80%;
    margin:0 auto;
    padding:40px 0px 40px 0px;
  }
  
  .wrap h1 {
    color: #fff;
    font-size:2rem;
    letter-spacing:-3px;
  }
  .wrap p {
    font-size:2rem;
    color:#fff;
    letter-spacing:1px;
  }
  .fa {
    margin-right:10px;
  } 
  .mainWrap {
    width:80%;
    margin:0 auto;
  } 
.email {
    width:49%;
    border:0;
    padding:20px;
    font-size:2rem;
    color:#fff;
    background-color: transparent;
  }
  .name {
    float:left;
    width:49%;
    border:0;
    padding:20px;
    font-size:2rem;
    color:#fff;
    background-color: transparent;
  }
  
  .email {
    float:right;
  }
  
  .mainArea {
    width:100%;
    font-size:2rem;
    margin-top:20px;
    padding:20px;
    color:#fff;
    resize:none;
    background-color: transparent;
  }
  
  .bigBtn {
    width:100%;
    padding:20px;
    text-align:center;
    margin-top:20px;
    font-size:2rem;
    cursor:pointer;
    background-color: transparent;

  }
  
  /* footer  */
  footer{
    text-align: center;
    padding-top: 30px;
}
footer p{
     margin-top: 10px;
}