*{
    padding: 0;
    margin: 0;
}

/* background image section*/
.bg-head{
  padding-top: 225px;
}
.bg-head{
    background-image: url(image/h_img.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-head img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bg-head p{
    text-align: center;
    color: aliceblue;
}
.bg-head h1{
    text-align: center;
    color: aliceblue;
    padding: 10px;
}
#mouse-click{
  padding-top : 22px;
  margin-top: 10%;
  padding-bottom: 30px; 
}
#mouse-click {
  animation: bounce 2s infinite;
}

/* about us  */
.aboutus h3{
    font-size: 3rem;
    text-align: center;
    color: black;
    padding: 10px;
}
.aboutus p{
    text-align: center;
    color: black;
    padding: 10px;
}
.raised-block {
  background-color: #fff;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: -0.625rem; 
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

/* servicess */
.services {
    background-image: url(image/s_image.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}
.services h3{
    font-size: 3rem;
    text-align: center;
    color: #fff;
    padding: 10px;
    padding-top: 8rem;
}
.services p{
    text-align: center;
    color: #fff;
    padding: 10px;
}
.col-sm-3{
    transform: scale(0.69);
}

/* portfolio  */
.portfolio-images-first > :first-child{
  background-image: url("image/work4.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 200px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.portfolio-images-first > :nth-child(2){
  background-image: url("/image/work3.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 200px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.portfolio-images-first > :nth-child(3){
  background-image: url("image/work2.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 200px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.portfolio-images-first > :nth-child(4){
  background-image: url("image/work1.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 200px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.portfolio-images-second{
  margin-top: -50px;
}


.portfolio-images-second > :first-child{
  background-image: url("image/work5.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 200px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.portfolio-images-second > :nth-child(2){
  background-image: url("image/work6.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 200px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.portfolio-images-second > :nth-child(3){
  background-image: url("images/work7.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 200px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.portfolio-images-second > :nth-child(4){
  background-image: url("image/work8.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 200px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.work1, .work2, .work3, .work4, .work5, .work6, .work7, .work8{
  background-color: rgba(0, 0, 0, .8);
  height: 200px;
  width: 245px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}


.work1 > h4, .work2 > h4, .work3 > h4, .work4 > h4, .work5 > h4, .work6 > h4, .work7 > h4, .work8 > h4{
  border: solid white 3px;
  box-sizing: border-box;
  width: 200px;
  height: 150px;
  padding: 20px;
  color: rgb(17, 228, 34);
}

#portfolio-heading{
  text-align: center;
  margin-bottom: 20px;
}



/* whatwedo */

#mydesign {
  display: none;
}

#my-development {
  display: none;
}
#myproduct{

  display: none;
}


  /* footer  */
  footer{
    text-align: center;
    padding-top: 30px;
}
footer p{
     margin-top: 10px;
}